/* =============
    Typography
============= */
h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}

h1{
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    font-weight: 700;
}

h2{
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    font-weight: 600;

}
p{
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    font-weight: 400;

}
